@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <MudButton Variant="Variant.Filled" Link="https://docs.microsoft.com/aspnet/" Target="_blank">About Me</MudButton>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
